BOT_TOKEN = <bot_id>

# connection string for sqlite
SQLITE_DATABASE_URL = sqlite+aiosqlite:///./<name>
# string for test/prod service mode
TEST_MODE = True
# strings for postgresql connection
POSTGRESQL_DATABASE_USER = username
POSTGRESQL_DATABASE_PASSWORD = password
POSTGRESQL_DATABASE_HOST = localhost
POSTGRESQL_DATABASE_NAME = database
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin