<label for="telegram_id">Telegram ID</label><br>
<input type="text" id="telegram_id" name="telegram_id">
<label for="phone_number">Номер телефона</label><br>
<input type="text" id="phone_number" name="phone_number">
<label for="first_name">Имя</label><br>
<input type="text" id="first_name" name="first_name">
<label for="second_name">Отчество</label><br>
<input type="text" id="second_name" name="second_name">
<label for="last_name">Фамилия</label><br>
<input type="text" id="last_name" name="last_name">
<label for="birth_date">Дата рождения</label><br>
<input type="datetime-local" id="birth_date" name="birth_date">
<input type="submit" value="Зарегестрировать">
                