{% extends 'base.html' %}
{% block title %}Создание платежа{% endblock title %}
{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Новый платеж</h1>
            <form id="add_payment" class="form-control">
                <div class="mb-3">
                    <label for="price" class="form-label">Сумма платежа</label>
                    <input type="number" min="0" name="price" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="payment_method" class="form-label">Способ оплаты</label>
                    <select name="payment_method" class="form-control" required>
                        <option disabled selected>Выберите способ оплаты</option>
                        <option value="online">Онлайн</option>
                        <option value="cash">Наличными</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="payer_id" class="form-label">Номер телефона клиента</label>
                    <input type="text" name="payer_id" class="form-control" list="user_list" required>
                    <datalist id="user_list"></datalist>
                    <button type="button" id="scan_qr_button" style="background-color: transparent; border: none; margin-top: 10px;">
                        <img src="/static/img/scanner.png" width="40" height="40" style="filter: invert(100%);">
                        <span style="margin-left: 5px; color: white;">Сканировать карту лояльности</span>
                    </button>
                </div>
                <div id="loyality_form" style="display: none;">
                    <div class="mb-3">Бонусная система</div>
                        <div class="mb-3" id="loyality_amount_div" style="display: none;">
                            У пользователя бонусов: <span id="loyality_amount"></span>. Оплатить бонусами можно до 99% от суммы заказа.
                        </div>
                        <div class="mb-3">
                            <label for="loyality_action" class="form-label">Действие</label>
                            <select name="loyality_action" class="form-control" required>
                                <option disabled selected>Выберите действие с бонусами</option>
                                <option value="начисление">Начисление</option>
                                <option value="списание">Списание</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="loyality_points" class="form-label">Количество бонусов</label>
                            <input type="number"  min="0" name="loyality_points" max="{{ max_amount }}" class="form-control" required>
                        </div>
                        <div class="mb-3" id="total_price_div" style="display: none;">
                            К оплате: <span id="total_price"></span> RUB
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <input type="hidden" name="admin_id" value="{{ admin_telegram_id }}">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input type="button" id="add_payment_button" value="Создать">
                </div>
            </form>
            <script>
                $(document).ready(function() {
                    function getLoyalityAmount(phoneNumber) {
                        $.get(`/loyality/admin/{{ admin_telegram_id }}/${phoneNumber}/`, function(data) {
                            $('#loyality_amount').text(data.count);
                            $('#loyality_form').show();
                            $('#loyality_amount_div').show();
                            $('#total_price_div').show();
                            $('#total_price').text($('input[name="price"]').val());
                        });
                    }
                    function updateLoyalityPoints() {
                        var selectedValue = $('select[name="loyality_action"]').val();
                        $.get(`/loyality/admin/{{ admin_telegram_id }}`, function(data) {
                            var paymentAmount = parseInt($('input[name="price"]').val());
                            if (selectedValue == 'начисление') {
                                $('#total_price').text(paymentAmount);
                                $('input[name="loyality_points"]').val(Math.floor(paymentAmount / parseInt(data.default_value)));
                            } else if (selectedValue == 'списание') {
                                var maxAmount = Math.floor(Math.min(paymentAmount * 0.99, parseInt($('#loyality_amount').text())));
                                $('#total_price').text(paymentAmount - maxAmount);
                                $('input[name="loyality_points"]').attr('max', maxAmount);
                                $('input[name="loyality_points"]').val(maxAmount);
                                $('input[name="loyality_points"]').on('input', function() {
                                    var loyalityPoints = parseInt($(this).val());
                                    if (loyalityPoints >= maxAmount) {
                                        $(this).val(maxAmount);
                                        $('#total_price').text(paymentAmount - maxAmount)
                                    } else if (loyalityPoints < maxAmount) {
                                        $('#total_price').text(paymentAmount - parseInt($(this).val()));
                                    } else {
                                        if (isNaN(loyalityPoints)) {
                                            $('#total_price').text(paymentAmount)
                                        }
                                    }
                                });
                            }
                        });
                    }
                    $('input[name="payer_id"]').on('input', function() {
                        var substring = $(this).val();
                        $.get(`/users/admin/{{ admin_telegram_id }}/search_user?user=${substring}`, function(data) {
                            $('#user_list').empty();
                            data.forEach(function(user) {
                                $('#user_list').append(`<option value="${user}">${user}</option>`);
                            });
                        });
                        var phoneNumber = $(this).val();
                        getLoyalityAmount(phoneNumber);
                    });
                    $('#scan_qr_button').on('click', function(){
                        Telegram.WebApp.showScanQrPopup({
                            text: 'with any link'
                        }, function (text) {
                            $('input[name="payer_id"]').val(text);
                            getLoyalityAmount(text);
                            return true;
                        });
                    });
                    $('input[name="price"]').on('input', updateLoyalityPoints);
                    $('select[name="loyality_action"]').on('change', updateLoyalityPoints);
                });
            </script>
            <script>
                $(document).ready(function(){
                    Telegram.WebApp.ready()
                    var WebApp = window.Telegram.WebApp
                    WebApp.expand()
                    $('#add_payment_button').on('click', function(event){
                        event.preventDefault()
                        $.ajax({
                            url: '/payments/admin/{{ admin_telegram_id }}/create_payment',
                            method: 'post',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify(
                                {
                                    price: $('input[name="price"]').val(),
                                    payment_method: $('select[name="payment_method"]').val(),
                                    payer_id: $('input[name="payer_id"]').val(),
                                    admin_id: '{{ admin_telegram_id }}',
                                    action: $('select[name="loyality_action"]').val(),
                                    loyality_points: $('input[name="loyality_points"]').val()
                                }
                            ),
                            statusCode: {
                                200: function () {
                                    WebApp.close();
                                }
                            }
                        })
                    })
                })
            </script>
        </div>
    </div>
</div>
{% endblock content %}
