{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <form  class="login-form" action="/users/" method="post">
                <div class="flex-row logo">
                    <h1>Регистрация</h1>
                  </div>
                {% if not user %}
                    {% include "user_form.html" %}
                {% elif user.is_admin %}
                    {% include "admin_form.html" %}
                {% else %}
                    <a class="justify-content-center" href="/admin/{{ user.telegram_id}}/patch/{{ user.phone_number }}"> Изменить профиль </a>
                {% endif %}
                {% if errors %}

                    {% for error in errors %}
                        {{ error }}<br>
                    {% endfor %}
                {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}