{% extends 'base.html' %}
{% block content %}
<h1>Форма регистрации пользователя</h1>
    <div>
    <form action="/user" method="post">
        {% if not user %}
        <label for="telegram_id" hidden >Telegram ID</label>
        <input type="text" id="telegram_id" name="telegram_id" hidden value="{{ request.path_params.id }}"><br>
        <label for="phone_number">Номер телефона</label>
        <input type="text" id="phone_number" name="phone_number" required><br>
        {% elif user.is_admin %}
        <label for="telegram_id" >Telegram ID</label>
        <input type="text" id="telegram_id" name="telegram_id" required><br>
        <label for="phone_number">Номер телефона</label>
        <input type="text" id="phone_number" name="phone_number"><br>
        {% endif %}
        <label for="first_name">Имя</label>
        <input type="text" id="first_name" name="first_name"><br>
        <label for="second_name">Отчество</label>
        <input type="text" id="second_name" name="second_name"><br>
        <label for="last_name">Фамилия</label>
        <input type="text" id="last_name" name="last_name"><br>
        <label for="birth_date">Дата рождения</label>
        <input type="date" id="birth_date" name="birth_date"><br>
        {% if errors %}
            {% for error in errors %}
             {{ error }}<br>
            {% endfor %}
        {% endif %}
        <input type="submit" value="Submit">

    </form>
    </div>
{% endblock content %}