<div class="flex-row">
    <input id="telegram_id" class='lf--input'  name='telegram_id' placeholder='Telegram ID' type='text' hidden value="{{ request.path_params.telegram_id }}">
</div>
<div class="flex-row">
    <input id="phone_number" class='lf--input' name='phone_number' placeholder='Номер телефона' type='text' {% if user%} value="{{user.phone_number}}" {% endif %}required>
</div>
<div class="flex-row">
    <input id="first_name" class='lf--input' name='first_name' placeholder='Имя' type='text' {% if user%} value='{{ user.first_name }}' {% endif %}>
</div>
<div class="flex-row">
    <input id="second_name" class='lf--input' name='second_name' placeholder='Отчество' type='text' {% if user%} value='{{ user.second_name }}' {% endif %}>
</div>
<div class="flex-row">
    <input id="last_name" class='lf--input' name="last_name" placeholder='Фамилия' type='text' {% if user%} value='{{ user.last_name }}' {% endif %}>
</div>
<div class="flex-row">
    <input id="birth_date" class='lf--input' name='birth_date' placeholder='Дата рождения' type="datetime-local" {% if user%} value='{{ user.birth_date }}' {% endif %}>
</div>
<input class='lf--submit'type="submit" {% if user %} value='Редактировать'{% else %}value="Зарегистрироваться" {% endif %}>


{% for field in form %}
    {{ field }}
{% endfor %}